@use 'variables' as *;

/*------------------------------------*\
  #COLOR-PICKER
\*------------------------------------*/

.color-picker {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 380px;
  margin-top: 1rem;
  width: 100%;

  &__label {
    font-size: 18px;
    color: $color-primary-text;
  }

  &__input {
    width: 100%;
    height: 62px;
    border: 1px solid $color-primary-text;
    cursor: pointer;
    padding: 0.5rem;
  }
}
