<div class="achievement-row">
  <div class="achievement-row__info">
    <div class="achievement-row__info-text">{{ infoText }}</div>
    <div class="achievement-row__info-points">+ {{ points }}</div>
  </div>
  <label
    class="achievement-row__checkbox-container"
    [ngClass]="{ 'achievement-row__checkbox-container--completed': isCompleted }"
  >
    <span>{{
      isCompleted ? '¡Completado!' : isAutomatic ? 'Por cumplir' : 'Completar tarea'
    }}</span>
    @if (!isAutomatic) {
    <input
      class="achievement-row__checkbox-input"
      type="checkbox"
      [checked]="isCompleted"
      [disabled]="isCompleted"
      (change)="onCheckboxChange($event)"
    />
    }
  </label>
</div>
