@use 'variables' as *;

/*------------------------------------*\
  #ACHIEVEMENTS-VIEW
\*------------------------------------*/

.achievements-view {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1180px;
  margin: 0 auto;

  &__wrapper {
    padding: 2rem 3rem 6rem 2rem;
  }

  &__level {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin: 2rem auto;
    position: relative;
  }

  &__message {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__message-name {
    text-align: center;
    font-size: 24px;
  }

  &__message-text {
    text-align: center;
    font-size: 24px;
    margin-top: 0;
  }

  &__corner {
    position: absolute;
    z-index: 1;
    border-left: 2px $color-primary-text solid;
    border-top: 2px $color-primary-text solid;
    top: 0;
    left: 0;
    width: 17px;
    height: 14px;
    animation: blink 1.5s ease-in-out infinite;
  }

  &__corner--alt {
    position: absolute;
    z-index: 1;
    border-right: 2px $color-primary-text solid;
    border-bottom: 2px $color-primary-text solid;
    bottom: 0;
    right: 0;
    width: 17px;
    height: 14px;
    animation: blink 1.5s ease-in-out infinite;
  }

  &__level-text {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    padding-bottom: 1rem;
  }

  &__points {
    font-size: 1rem;
    margin: 0;
  }

  &__section {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  &__section-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-primary-grey;
    margin-bottom: 1rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
