@use 'variables' as *;

/*------------------------------------*\
  #AUTH MODAL WRAPPER
\*------------------------------------*/

.auth-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: $color-secondary-grey;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $maxTabletWidth) {
    padding: 2rem;
    box-sizing: border-box;
  }
}

/*------------------------------------*\
  #AUTH MODAL
\*------------------------------------*/

.auth-modal {
  background: $color-secondary;
  padding: 2rem;
  animation: slideIn 0.3s ease-out;
  width: 90%;
  box-sizing: border-box;

  @media (min-width: $maxSMobileWidth) {
    width: 70%;
  }

  @media (min-width: $maxTabletWidth) {
    width: 40%;
  }

  &__grid {
    display: flex;
    flex-flow: column;
  }

  &__grid-title {
    font-size: 24px;
  }

  &__form-group {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 1rem;
  }

  &__form-group-title {
    font-weight: bolder;
    font-size: 20px;
  }

  &__form-group-input {
    font-weight: bolder;
    font-size: 18px;
    padding: 0.5rem;
  }

  &__submit-btn {
    appearance: none;
    display: flex;
    background: $color-secondary;
    border: 1px solid $color-primary-text;
    border-radius: 0;
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

  &__submit-btn:disabled {
    opacity: 0.5;
    border: 1px solid $color-disabled;
    cursor: not-allowed;
  }

  &__footer {
    padding-top: 1rem;
  }

  &__footer-link {
    font-weight: 900;
    cursor: pointer;
  }

  &__error-feedback {
    color: $color-error;
  }
}
