/*------------------------------------*\
  #FONTS
\*------------------------------------*/

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(assets/fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf) format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(assets/fonts/IBM_Plex_Sans/IBMPlexSans-Italic-VariableFont_wdth\,wght.ttf) format("truetype-variations");
  font-weight: 100 700;
  font-style: italic;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(assets/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth\,wght.ttf) format("truetype-variations");
  font-weight: 100 700;
  font-style: normal;
}

@font-face {
  font-family: "Inria Sans";
  src: url(assets/fonts/Inria_Sans/InriaSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inria Sans";
  src: url(assets/fonts/Inria_Sans/InriaSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inria Sans";
  src: url(assets/fonts/Inria_Sans/InriaSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Doto";
  src: url(assets/fonts/Doto/Doto-VariableFont_ROND\,wght.ttf) format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Museo Moderno";
  src: url(assets/fonts/MuseoModerno/MuseoModerno-VariableFont_wght.ttf) format("truetype-variations");
  font-weight: 100 700;
  font-style: normal;
}

/*------------------------------------*\
  #ANIMATIONS
\*------------------------------------*/

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes accordionDown {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*------------------------------------*\
  #VIEW TRANSITIONs
\*------------------------------------*/

::view-transition-old(header-nav),
::view-transition-new(header-nav),
::view-transition-old(toast),
::view-transition-new(toast) {
  animation: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

::view-transition-new(root) {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-timing-function: ease-out;
}

/*------------------------------------*\
  #DEFAULT
\*------------------------------------*/

html,
body {
  font-family: 'IBM Plex Sans';
  margin: 0;
  font-size: 16px;
}
