/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/

$color-primary: #000;
$color-secondary: #FFF;
$color-primary-grey: #666;
$color-secondary-grey: #757575;
$color-gradient: 151deg, #f4e73d 10.57%, #efa8e2 51.9%, #2ef0ff 89.43%;
$color-primary-text: #000;
$color-secondary-text: #FFF;
$color-error: red;
$color-success: green;
$color-disabled:#0000005b;
$color-disabled-grey:#535353;





/*------------------------------------*\
  #MEDIA-QUERIES
\*------------------------------------*/

$maxSMobileWidth: 567px;
$maxLMobileWidth: 768px;
$maxTabletWidth: 900px;
$maxMSDesktopWidth: 1280px;
$maxLMDesktopWidth: 1400px;
