@use 'variables' as *;

/*------------------------------------*\
  #SPINNER
\*------------------------------------*/

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
  padding: 2rem;

  &__circle {
    width: 40px;
    height: 40px;
    border: 3px solid $color-secondary-grey;
    border-top-color: $color-primary;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
}
